<!-- <div class="example-boundary"></div> -->
<span>{{deg}}</span>
<button (click)="increment()">+10</button>
<div id="crossSectionContainerId" class="example-boundary">
	<svg class="svg" top="10%" [style.transform]="'rotate(' + -1*deg + 'deg)'">
		<line x1="0%" y1="50%" x2="100%" y2="50%" style="stroke:rgb(255,0,0);stroke-width:2" />
		<line x1="100%" y1="50%" x2="97%" y2="47%" style="stroke:rgb(255,0,0);stroke-width:2" />
		<line x1="100%" y1="50%" x2="97%" y2="53%" style="stroke:rgb(255,0,0);stroke-width:2" />
		<circle id="visualCrossSectiondragHandleId" cx="80%" cy="50%" r="15" stroke="black" stroke-width="3" fill="red" />
	</svg>
	<div id="crossSectiondragHandleId" class="drag-handle" cdkDrag
  [cdkDragConstrainPosition]="constrainDragPositionToCircle"
  [cdkDragFreeDragPosition]="currentPosition">
	</div>
</div>